/* Font Style */
.montserrat-font-style {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0;
}

/* Header style */
.header-style {
    display: flex;
}

.header-img-container {
    width: 40%;
    max-width: unset;
    background-image: url('/images/shapes/Group\ 8450.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-img-container > img {
    position: relative;
    width: 550px;
    right: 65px;
    bottom: 40px;
}