/* Font Style */
.montserrat-font-style {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0;
}

/* Shared styles */
.color-1 {
    color: #FBA24F;
}

/* Header style */
.header-title {
    font-size: 3.6rem;
    font-weight: bold;
    color: #575757;
}

.header-text-container {
    width: 599px;
}

.header-description {
    font-size: 1.2rem;
    color: #828282;
    width: 499px;
}

.header-btn {
    width: 190px;
    height: 68px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(90deg, #FBA24F, #FF1E1E);
    color: #FFFFFF;
    font-size: 1rem;
}

header > div > button > a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-style {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img-container {
    width: 40%;
    max-width: unset;
    background-image: url('../images/shapes/Group\ 8450.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-img-container>img {
    position: relative;
    width: 550px;
    right: 65px;
    bottom: 40px;
}